<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kr.myproject" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".slidingmenu.SlidingMenuActivity" />
        <activity android:name=".fragmentswithtab.ActivityWithFragments" />
        <activity
            android:name=".qqtwowayslidingmenu.QQMenuActivity"
            android:label="@string/title_activity_qqmenu" >
        </activity>
        <activity
            android:name=".weixinmainpage.WeiXinPageActivity"
            android:label="@string/tab_weixin"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".pulltorefereshandrecycleview.PullAndRecycleActivity"
            android:label="@string/title_activity_pull_and_recycle" >
        </activity>
        <activity
            android:name=".myvideoplayer.VideoViewActivity"
            android:label="@string/title_activity_video_player" >
        </activity>
        <activity
            android:name=".myvideoplayer.SurfaceViewActivity"
            android:label="@string/title_activity_surface_view" >
        </activity>
        <activity
            android:name=".myvideoplayer.FullPlayActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_full_play" >
        </activity>
    </application>

</manifest>
