<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kr.myproject" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".slidingmenu.SlidingMenuActivity" />
        <activity android:name=".fragmentswithtab.ActivityWithFragments" />
        <activity
            android:name=".qqtwowayslidingmenu.QQMenuActivity"
            android:label="@string/title_activity_qqmenu" >
        </activity>
        <activity
            android:name=".weixinmainpage.WeiXinPageActivity"
            android:label="@string/tab_weixin"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".pulltorefereshandrecycleview.PullAndRecycleActivity"
            android:label="@string/title_activity_pull_and_recycle" >
        </activity>
        <activity
            android:name=".myvideoplayer.VideoViewActivity"
            android:label="@string/title_activity_video_player" >
        </activity>
        <activity
            android:name=".myvideoplayer.SurfaceViewActivity"
            android:label="@string/title_activity_surface_view" >
        </activity>
        <activity
            android:name=".myvideoplayer.FullPlayActivity"
            android:label="@string/title_activity_full_play"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".weixinheadimagecut.CutImageActivity"
            android:label="@string/title_activity_cut_image" >
        </activity>
        <activity
            android:name=".weixinheadimagecut.ShowImageActivity"
            android:label="@string/title_activity_show_image" >
        </activity>
        <activity
            android:name=".placechoose.PlaceChooseActivity"
            android:label="@string/title_activity_place_choose" >
        </activity>
        <activity
            android:name=".animationtest.AnimationActivity"
            android:label="@string/title_activity_animation" >
        </activity>
        <activity
            android:name=".animationtest.XmlForAnimationActivity"
            android:label="@string/title_activity_xml_for_animation" >
        </activity>
        <activity
            android:name=".edittextwhitimageandclick.EditTextActivity"
            android:label="@string/title_activity_edit_text" >
        </activity>
        <activity
            android:name=".gesturedetector.GestureDetectorActivity"
            android:label="@string/title_activity_gesture_detector" >
        </activity>
        <activity
            android:name=".gesturedetector.GestureWithListViewActivity"
            android:label="@string/title_activity_gesture_with_list_view" >
        </activity>
        <activity android:name=".dicegame.DiceGameActivity" />
        <activity
            android:name=".myshare.ShareActivity"
            android:label="@string/title_activity_share" >
        </activity>

        <!-- QQ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1101374479" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".flowlayout.FlowLayoutActivity"
            android:label="@string/title_activity_flow_layout" >
        </activity>
        <activity
            android:name=".flowlayout.canclick.ClickFlowLayoutActivity"
            android:label="@string/title_activity_click_flow_layout" >
        </activity>
        <activity
            android:name=".flowlayout.canclick.ScrollActivity"
            android:label="@string/title_activity_scroll" >
        </activity>
        <activity
            android:name=".analyhtml.AnalyHtmlActivity"
            android:label="@string/title_activity_analy_html" >
        </activity>
    </application>

</manifest>
