<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kr.myproject">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyProjectApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".slidingmenu.SlidingMenuActivity" />
        <activity android:name=".fragmentswithtab.ActivityWithFragments" />
        <activity
            android:name=".qqtwowayslidingmenu.QQMenuActivity"
            android:label="@string/title_activity_qqmenu" />
        <activity
            android:name=".weixinmainpage.WeiXinPageActivity"
            android:label="@string/tab_weixin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pulltorefereshandrecycleview.PullAndRecycleActivity"
            android:label="@string/title_activity_pull_and_recycle" />
        <activity
            android:name=".myvideoplayer.VideoViewActivity"
            android:label="@string/title_activity_video_player" />
        <activity
            android:name=".myvideoplayer.SurfaceViewActivity"
            android:label="@string/title_activity_surface_view" />
        <activity
            android:name=".myvideoplayer.FullPlayActivity"
            android:label="@string/title_activity_full_play"
            android:screenOrientation="landscape" />
        <activity
            android:name=".weixinheadimagecut.CutImageActivity"
            android:label="@string/title_activity_cut_image" />
        <activity
            android:name=".weixinheadimagecut.ShowImageActivity"
            android:label="@string/title_activity_show_image" />
        <activity
            android:name=".placechoose.PlaceChooseActivity"
            android:label="@string/title_activity_place_choose" />
        <activity
            android:name=".animationtest.AnimationActivity"
            android:label="@string/title_activity_animation" />
        <activity
            android:name=".animationtest.XmlForAnimationActivity"
            android:label="@string/title_activity_xml_for_animation" />
        <activity
            android:name=".edittextwhitimageandclick.EditTextActivity"
            android:label="@string/title_activity_edit_text" />
        <activity
            android:name=".gesturedetector.GestureDetectorActivity"
            android:label="@string/title_activity_gesture_detector" />
        <activity
            android:name=".gesturedetector.GestureWithListViewActivity"
            android:label="@string/title_activity_gesture_with_list_view" />
        <activity android:name=".dicegame.DiceGameActivity" />
        <activity
            android:name=".myshare.ShareActivity"
            android:label="@string/title_activity_share" />

        <!-- QQ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1101374479" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".flowlayout.FlowLayoutActivity"
            android:label="@string/title_activity_flow_layout" />
        <activity
            android:name=".flowlayout.canclick.ClickFlowLayoutActivity"
            android:label="@string/title_activity_click_flow_layout" />
        <activity
            android:name=".flowlayout.canclick.ScrollActivity"
            android:label="@string/title_activity_scroll" />
        <activity
            android:name=".analyhtml.AnalyHtmlActivity"
            android:label="@string/title_activity_analy_html" />
        <activity
            android:name=".imageoprate.ChangeImageActivity"
            android:label="@string/title_activity_change_image" />
        <activity
            android:name=".imageoprate.CropActivity"
            android:label="@string/title_activity_crop" />
        <activity
            android:name=".myspinner.MySpinnerActivity"
            android:label="@string/title_activity_my_spinner" />
        <activity
            android:name=".myspinner.SpinnerActivity"
            android:label="@string/title_activity_spinner" />
        <activity
            android:name=".filemanager.FileManagerActivity"
            android:label="@string/title_activity_file_manager">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".keybordlayout.KeybordActivity"
            android:label="@string/title_activity_laybord"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".filemanager.MyFileManager"
            android:label="@string/title_activity_my_file_manager"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".yanzhengma.IdentifyingCodeActivity"
            android:label="@string/title_activity_identifying_code" />
        <activity android:name=".advertscrollbar.AdvertBarActivity" />
        <activity
            android:name=".customview.MyTopBarActivity"
            android:label="@string/title_activity_my_top_bar" />
        <activity
            android:name=".asynctask.AsyncTaskActivity"
            android:label="@string/title_activity_my_top_bar" />
        <activity
            android:name=".asynctask.NetWorkAsynctaskActivity"
            android:label="@string/title_activity_net_work_asynctask" />
        <activity
            android:name=".activeandroid.ActiveAndroidActivity"
            android:label="@string/title_activity_active_android" />

        <!-- active record -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="myproject.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity
            android:name=".duandianxuchuan.DownloadActivity"
            android:label="@string/title_activity_download" />
        <activity android:name=".zhihutupianxuanzeqi.ZhiHuTuPianActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>